<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Heroes</title>
    <link rel="shortcut icon" href="img/tecnologia-inteligente.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="contenedor">
            <nav>
                <a href="/babbage">Charles Babbage</a>
                <a href="/berners-lee">Tim Berners Lee</a>
                <a href="/clarke">Joan Clarke</a>
                <a href="/hamilton">Margaret Hamilton</a>
                <a href="/lovelace">Ada Lovelace</a>
                <a href="/turing">Alan Turing</a>
            </nav>
        </div>
        <section class="textos-header">
            <h1>Héroes de la Tecnología</h1>
        </section>

        <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path
                 fill="#fff" fill-opacity="1" d="M0,32L120,64C240,96,480,160,720,176C960,192,1200,160,1320,144L1440,128L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">   
            </path>
        </svg>
    </header>
</body>
</html>